* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Source Sans Pro", Arial, Helvetica, sans-serif;
}
.slick-prev:before,
.slick-next:before {
  color: black !important;
}
